<div class="main-container">
  <h2 class="text-center mb-4">Personas</h2>
  <div class="pull-left mb-4">
    <button type="button" class="btn btn-dark" (click)="openModal(mdl_person)">Agregar persona</button>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Edad</th>
        <th scope="col">Sexo</th>
        <th scope="col">Documento</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let person of persons">
        <th>{{ person.name }}</th>
        <td>{{ person.age }}</td>
        <td>{{person.gender}}</td>
        <td>{{person.document}}</td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #mdl_person let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Agregar persona</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]="formPerson">
    <div class="modal-body">
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label class="form-control-label">Nombre</label>
            <input type="text" class="form-control" placeholder="Ingrese el nombre" formControlName="name">
            <span class="red" *ngIf="formPerson.get('name').touched && formPerson.get('name').hasError('required')">Requerido</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label class="form-control-label">Edad</label>
            <input type="number" class="form-control" placeholder="Ingrese la edad" formControlName="age">
            <span class="red" *ngIf="formPerson.get('age').touched && formPerson.get('age').hasError('required')">Requerido</span>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label class="form-control-label">Seleccionar un género</label>
            <select class="form-control" formControlName="gender">
              <option value="Masculino">Masculino</option>
              <option value="Femenino">Femenino</option>
            </select>
            <span class="red" *ngIf="formPerson.get('gender').touched && formPerson.get('gender').hasError('required')">Requerido</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label class="form-control-label">Elegir archivo</label>
              <input type="file" class="form-control" formControlName="document">
            <span class="red" *ngIf="formPerson.get('document').touched && formPerson.get('document').hasError('required')">Requerido</span>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-dark" [disabled]="formPerson.invalid" (click)="addPerson()">Agregar</button>
    </div>
  </form>
</ng-template>